services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev # change to Dockerfile for Prod
    container_name: trackr-api
    ports:
      - '3000:3000'
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    container_name: trackr-db
    environment:
      POSTGRES_USER: trackr_user
      POSTGRES_PASSWORD: trackr_pass
      POSTGRES_DB: trackr
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U trackr_user -d trackr']
      interval: 5s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: trackr-redis
    ports:
      - '6379:6379'

volumes:
  pgdata:
